.border-btm-grey {
    border-bottom: 1px solid lightgray;
  }
  .dis-float{
    display: inline;
    float: left;
  }
  hr{
    margin: 0;
    margin-top: 10px;
  }
  .limitTextHeight {
    height: 100px;
    overflow: hidden;
}