<div class="flex flex-col">
  <div
    class="flex flex-row items-center px-6 h-20 min-h-20 text-white bg-primary"
  >
    <!-- <div class="text-2xl font-semibold tracking-tight">Add User</div> -->
    <div *ngIf="data.type === 'Customer Support'">Add Customer Support</div>
    <div *ngIf="data.type === 'Care Coordinator'">Add Care Coordinator</div>
    <div *ngIf="data.type === 'Doctor' || data.type === 'HWR'">
      {{ editId ? "Update" : "Generate" }} License
    </div>
    <button
      class="ml-auto"
      mat-icon-button
      [matTooltip]="'Close'"
      (click)="dialogRef.close()"
    >
      <mat-icon
        class="text-current"
        [svgIcon]="'heroicons_outline:x'"
      ></mat-icon>
    </button>
  </div>
  <div class="mt-4">
    <label class="hoverable" for="fileInput" (mouseenter)="onMouseEnter()">
      <img
        class="object-cover w-full h-full"
        [src]="photo ? photo : 'assets/images/avatars/img_avatar.png'"
      />

      <div class="background"></div>
      <div
        (mouseenter)="onMouseEnter()"
        class="ml-3 mt-3 flex items-center justify-between"
      >
        <div
          class="bg-gy py-0.5 px-3 rounded-full text-sm font-semibold text-pink-800 bg-gray-100 dark:text-pink-50 dark:bg-gray-500 ng-star-inserted"
        >
          Upload
        </div>
        <div class="flex items-center"></div>
      </div>
    </label>

    <br />
    <input id="fileInput" type="file" (change)="onSelectFile($event)" />
    <div class="delete-trash"></div>
  </div>
  <div class="p-6 mb-auto">
    <form [formGroup]="userForm">
      <div *ngIf="type == 'Doctor' || type == 'HWR'">
        <div class="mt-4">
          <mat-form-field
            class="fuse-mat-no-subscript w-full"
            floatLabel="always"
          >
            <mat-label>Project Name <span class="clr-red">*</span></mat-label>
            <input
              matInput
              [placeholder]="'Enter'"
              [formControlName]="'name'"
            />
          </mat-form-field>
        </div>
        <div class="mt-4" *ngIf="data.type !== 'HWR'">
          <mat-form-field
            class="fuse-mat-no-subscript w-full"
            floatLabel="always"
          >
            <mat-label>Speciality <span class="clr-red">*</span></mat-label>
            <mat-select [formControlName]="'specialityid'" placeholder="Select">
              <ng-container>
                <mat-option [value]="65"
                  >Nephrology <span class="clr-red">*</span></mat-option
                >
              </ng-container>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="mt-4">
        <mat-label>Phone Number <span class="clr-red">*</span></mat-label>
        <div class="">
          <ngx-intl-tel-input
            [cssClass]="'custom'"
            [preferredCountries]="preferredCountries"
            [enableAutoCountrySelect]="true"
            [enablePlaceholder]="true"
            [searchCountryFlag]="true"
            [searchCountryField]="[
              SearchCountryField.Iso2,
              SearchCountryField.Name,
            ]"
            [selectFirstCountry]="false"
            [selectedCountryISO]="CountryISO.India"
            [phoneValidation]="true"
            [separateDialCode]="separateDialCode"
            [numberFormat]="PhoneNumberFormat.International"
            name="mobileNumber"
            formControlName="mobileNumber"
          >
          </ngx-intl-tel-input>
          <div
            class="text-red-500"
            *ngIf="
              userForm.get('mobileNumber')?.invalid &&
              userForm.get('mobileNumber')?.touched
            "
          >
            Invalid phone number
          </div>
          <!-- <ngx-intl-tel-input
                      [cssClass]="'custom'"
                      [preferredCountries]="preferredCountries"
                      [enableAutoCountrySelect]="true"
                      [enablePlaceholder]="true"
                      [searchCountryFlag]="true"
                      [searchCountryField]="[
                        SearchCountryField.Iso2,
                        SearchCountryField.Name
                      ]"
                      [selectFirstCountry]="false"
                      [selectedCountryISO]="CountryISO.India"
                      [phoneValidation]="true"
                      [separateDialCode]="separateDialCode"
                      [numberFormat]="PhoneNumberFormat.International"
                      name="mobileNumber"
                      formControlName="mobileNumber"
                    >
                    </ngx-intl-tel-input> -->
        </div>
        <!-- <span
          *ngIf="
            (userForm.controls.mobileNumber.errors?.required &&
              userForm.controls.mobileNumber.touched) ||
            userForm.controls.mobileNumber.errors?.pattern
          "
          class="text-red-500 text-xs italic"
        >
          Please enter a valid phone number
        </span> -->
      </div>
      <div class="mt-4">
        <mat-form-field
          class="fuse-mat-no-subscript w-full"
          floatLabel="always"
        >
          <mat-label>Email <span class="clr-red">*</span></mat-label>
          <input
            (input)="onInputChange(userForm.get('email').value)"
            matInput
            [placeholder]="'Sample@domain.com '"
            [formControlName]="'email'"
          />
        </mat-form-field>
      </div>

      <div class="mt-4">
        <mat-form-field
          class="fuse-mat-no-subscript w-full"
          floatLabel="always"
        >
          <mat-label>City <span class="clr-red">*</span></mat-label>
          <input matInput [placeholder]="'Enter'" [formControlName]="'city'" />
        </mat-form-field>
      </div>
      <div class="mt-4">
        <mat-form-field
          class="fuse-mat-no-subscript w-full"
          floatLabel="always"
        >
          <mat-label>State <span class="clr-red">*</span></mat-label>
          <input matInput [placeholder]="'Enter'" [formControlName]="'state'" />
        </mat-form-field>
      </div>
      <div class="mt-4">
        <mat-form-field
          class="fuse-mat-no-subscript w-full"
          floatLabel="always"
        >
          <mat-label>Country <span class="clr-red">*</span></mat-label>
          <input
            matInput
            [placeholder]="'Enter'"
            [formControlName]="'countryname'"
          />
        </mat-form-field>
      </div>
    </form>
  </div>

  <footer class="my-4 mx-4">
    <div class="flex">
      <div class="flex ml-auto gap-2">
        <button
          mat-flat-button
          (click)="userForm.reset()"
          [disabled]="userForm.pristine"
        >
          <span class="ml-2 mr-1">Clear</span>
        </button>
        <button
          mat-flat-button
          [color]="'primary'"
          (click)="addUser()"
          [disabled]="userForm.pristine || userForm.invalid"
        >
          <span class="ml-2 mr-1">{{ editId ? "Update" : "Create" }}</span>
          <mat-progress-spinner
            *ngIf="userActionLoading"
            [diameter]="24"
            [mode]="'indeterminate'"
          ></mat-progress-spinner>
        </button>
      </div>
    </div>
  </footer>
</div>
