.mat-form-field.mat-form-field-appearance-fill.mat-focused:not(.mat-form-field-invalid) .mat-form-field-wrapper .mat-form-field-flex {
    border: 1px solid rgba(203, 213, 225) !important;
}
.inventory-grid {
    grid-template-columns: 12% 12% 10% 15% 10% 15% 4% 5% !important;
}
.w-68{
    width: 290px !important;
  }
  
